<ion-header-bar class="bar-energized">
    <h1 class="title">Crear nuevo usuario</h1>
</ion-header-bar>
<ion-content class="has-header">
    <div class="list">
      <form name="signUpFrm" ng-submit="createUser()">
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="user.email">
        </label>
        <label class="item item-input">
            <span class="input-label">Contraseña</span>
            <input type="password" ng-model="user.password">
        </label>
        <label class="item item-input">
            <span class="input-label">Nombre</span>
            <input type="text" ng-model="user.name">
        </label>
        <label>
            <button class="btn-auth btn-github large" type="submit" ng-disabled="signUpFrm.$invalid || !user.email || !user.password || !user.name">
                Registrarse
            </button>
        </label>
      </form>
    </div>
</ion-content>
