<ion-view title="MiLata - Mapa" hide-nav-bar="true">
    
    
    <ion-header-bar class="bar-energized nav-title-slide-ios7">
    
    <div class="buttons">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
    </div>
    <h1 class="title">MiLata - Mapa</h1>
    <div class="buttons">
              <button class="button button-icon button-clear ion-search">
              </button>
    </div>


    </ion-header-bar>
    
    <ion-content scroll="false" class="has-header">

    <!-- map directive-->
    <div data-tap-disabled="true" style="height=100%">
    <leaflet center="filters.center" paths="paths" markers="gls.markers" tiles="tiles" layers="layers" width="100%" height="110%"> </leaflet>
    </div>

    </ion-content>

    <ion-footer-bar align-title="left" class="bar-dark" >
      <div class="buttons">
        <button class="button" ng-click="routeModal.show()" ng-show="!gls.isOn">Estoy en un bus</button>
      </div>
      <div class="buttons">
        <button class="button" ng-click="submitModal.show()" ng-show="gls.isOn"> Me baje del bus  </button>
      </div>

      <div class="buttons" ng-click="addStop()" ng-show="gls.isOn" >
        <button class="button">Add Stop</button>
      </div>    
    </ion-footer-bar>

    </ion-view>
