<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized nav-title-slide-ios7" enable-menu-with-back-views="false">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    
    <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
    </ion-nav-buttons>

    </ion-nav-bar>
    
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="dark-bg" ng-controller="LeftMenuCtrl">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close class="item item-avatar" type="item-text-wrap" href="#/map/profile">
             <img ng-src= "{{uSession.userData.pic_url}}">
             {{uSession.userData.name}}
             <p>Ver perfil</p>
      </ion-item>  
        <ion-item nav-clear menu-close class="item-icon-left" href="#/map/home">
          <i class="icon ion-map icon-milata"></i>Mapa
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/map/help">
          <i class="icon ion-information-circled icon-milata"></i>Sobre Nosotros
        </ion-item>
          
      <div class="item item-divider item-divider">
      </div>

		   <ion-item nav-clear menu-close class="item-icon-left" href="#/map/settings">
          <i class="icon ion-android-settings icon-milata"></i>Opciones
        </ion-item>

      </ion-list>
      
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
