<div class="modal">
        <header class="bar bar-header bar-energized">
          <h1 class="title">I'm A Modal</h1>
          <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </header>
        <ion-content class="has-header" >
     
          <div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Nombre de Ruta</span>
			    <input type="text" placeholder="Moravia - San Jose">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Nombre de Compañía</span>
			    <input type="text" placeholder="MiBus S.A.">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Su Nombre</span>
			    <input type="text" placeholder="Agapito Rosales">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">E-mail</span>
			    <input type="text" placeholder="agapito.rosales@gmail.com">
			  </label>
		   </div>
        </ion-content>
      </div>