<div class="modal">
<ion-header-bar class="bar-energized">
	<div class="button button-clear" ng-click="resetModal.hide()" ><span class="icon ion-ios-close-empty"></span></div>
    <h1 class="title">Solicitar contraseña nueva</h1>
</ion-header-bar>

<ion-content class="has-header">
    <div class="list">
        <form name="resetFrm">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="user.email">
            </label>
            <label>
                <button class="btn-auth btn-github large" ng-disabled="resetFrm.$invalid || !user.email" ng-click="resetPassword()" >Enviar contraseña nueva</b>
                </button>
            </label>
       
        </form>
    </div>


</ion-content>

</div>