<div class="modal" ng-controller="RouteSearchCtrl">
    <ion-header-bar class="bar-energized">
      
      <div class="button button-clear" ng-click="routeModal.hide()" ><span class="icon ion-ios-close-empty"></span></div>
      <h1 class="title">En cual bus esta?</h1>
      <div class="button button-clear" ng-disabled="!routeData.currentRouteId" ng-click="routeModal.hide();recording(true);"><span class="icon ion-android-done"></span></div>
    </ion-header-bar>
    
    <ion-header-bar class="bar-subheader item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar" ng-model="searchString">
      </label>    
    </ion-header-bar>
        
    <ion-content class="has-header"  >
     
         <ion-list>
          <ion-radio ng-repeat="route in jsonRoutes | searchFor:searchString" ng-model="routeData.currentRouteId" ng-value="route.id">{{route.name}}</ion-radio>
      

      </ion-list>
       
        
    </ion-content>
</div>