<div class="modal">
        <header class="bar bar-header bar-royal">
          <h1 class="title">Antes de irse</h1>
          <div class="button button-clear" ng-click="submitModal.hide()"><span class="icon ion-close"></span></div>
        </header>
        <ion-content class="has-header"  >
     
          <div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Su Nombre (opcional)</span>
			    <input ng-model="message.name" type="text" placeholder="Agapito Rosales">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">E-mail (opcional)</span>
			    <input ng-model="message.email" type="text" placeholder="agapito.rosales@gmail.com">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Algun comentario para el equipo?</span>
			    <input ng-model="message.comment" type="text" placeholder="Demasiado chiva.. pero...">
			  </label>
		   </div>
		   	
		   	<div class="padding container">
                            <div class="row">
                                <button ng-click="recording(false);sendtoFBase();submitModal.hide();" class="button button-stable  button-small col col-40 "> Listo. Enviar! </button>
                            </div>
                        </div>
        
        </ion-content>
      </div>